.navbar{
    margin-bottom: 0px;
}

.navbar.center .navbar-inner {
    text-align: center;
}
.navbar.center .navbar-inner .nav {
    float: none;
    display:inline-block;
}

.row{
    
    background-color: #f5f5f5;
}


.textarea{
    background-color: #fff;
}

html {
    height: 100%;
}

body {
  line-height: 1.628571;
  font-size: 17px;
  height: 100%;
}


.wrapper {
    min-height: 100%;
    margin-bottom: -100px;
    padding-bottom: 100px;
}

footer {
    height: 100px;
    background-color: #f8f8f8;
}



/*.backgroundIMG{
     background: url("../img/home.jpg"); 
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;

} */

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
.hightlight{
    background: #f5f5f5;
}
/* footer icon and hover */
.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.social {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);

    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: o.5s;
}

#social-wb:hover {
    color: #e6162d;
}

#social-tw:hover {
    color: #4099FF;
}

#social-em:hover {
    color: #f39c12;
}

#social-gh:hover {
    color: #000000;
}

body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6, p {
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}
