<div class="text-center">
    <h3>GeorgeCaoJ</h3>
    <a href="http://weibo.com/u/1956157641?refer_flag=1001030101_&is_hot=1"><i id="social-wb" class="fa fa-weibo fa-3x social"></i></a>
    <a href="https://twitter.com/cjooo092"><i id="social-tw" class="fa fa-twitter fa-3x social"></i></a>

    <a href="https://github.com/GeorgeCaoJ"><i id="social-gh" class="fa fa-github fa-3x social"></i></a>

    <a href="mailto:cjooo092@gmail.com"><i id="social-em" class="fa fa-envelope fa-3x social"></i></a>




</div>

