<!-- nav bar -->
<nav class="navbar navbar-default center">
        <div class="container navbar-inner">
          <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand"><a  href="{{site.baseurl}}/index">GeorgeCaoJ's Bread</a></div>
    </div>

    <div class="collapse navbar-collapse center" id="myNavbar">
        <ul class="nav navbar-nav">

            <li><a href="{{site.baseurl}}/index">Home</a></li>
            <li><a href="{{site.baseurl}}/allblog">All Blog</a></li>
            <li><a href="{{site.baseurl}}/categories">Category</a></li>
        </ul>
    </div>
  </div>
</nav>
 <!-- nav bar -->

