<!-- nav bar -->
   <nav class="navbar navbar-default center">
        <div class="container navbar-inner">
        <ul class="nav navbar-nav">
            <div class="navbar-brand ">
            <a href="{{site.baseurl}}/index">GeorgeCaoJ's Bread</a>
            </div>
            <li><a href="{{site.baseurl}}/index">Home</a></li>
            <li><a href="{{site.baseurl}}/allblog">All Blog</a></li>
            <li><a href="{{site.baseurl}}/categories">Category</a></li>
        </ul>
        </div>
    </nav>
 <!-- nav bar -->

