<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8">
        <meta name="google-site-verification" content="D_uvn-LPLtgnskG_vRW-liJwDCRDX7re16a4cZ0VDus" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>GeorgeCaoJ's Bread</title>
        <link rel="stylesheet" href="{{site.baseurl}}/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{site.baseurl}}/css/common.css">
        <link rel="stylesheet" href="{{site.baseurl}}/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/syntax.css">
        <script src="{{site.baseurl}}/css/jquery-3.1.1.min.js"></script>
        <script src="{{site.baseurl}}/css/bootstrap.min.js"></script>

    </head>
   <body>
   <div class="wrapper"> <!--http://stackoverflow.com/questions/25671073/footer-below-content-but-not-floating-mid-air-if-not-enough-content -->
        {%include nav.html%}
        <!-- background photo and title in -->
        <div class="container-fluid">
            <!-- <div class="row backgroundIMG"></div> -->
            <div class="row">
                <div class="col-md-2 hidden-sm no-float"></div>
                <div class="col-md-8 col-sm-12 no-float textarea">
                     {{content}}
                </div>
                <div class="col-md-2 hidden-sm no-float"></div>
            </div>
        </div>
    </div>
    <footer>
    {% include footer.html %}
    </footer>
   </body>

</html>
